.App {
  display: flex;
}

.chessboard {
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
  height: 500px;
  width: 500px;
}

.light-square {
  height: 12.5%;
  width: 12.5%;
  border: none;
  background-color: rgb(149, 116, 89);
}

.dark-square {
  height: 12.5%;
  width: 12.5%;
  border: none;
  background-color: rgb(106, 63, 28);
}

.light-square:hover {
  background-color: rgb(165, 195, 255);
  cursor: pointer;
}

.dark-square:hover {
  background-color: rgb(165, 195, 255);
  cursor: pointer;
}

.selected {
  height: 12.5%;
  width: 12.5%;
  border: none;
  background-color: rgba(255, 0, 0, 0.669);
}
